{% extends 'base.html' %}
{% block title %}BG Remover{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bg_remover.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
{% endblock %}
{% block navbar_href %}{{ url_for('bg_remove.index') }}{% endblock %}


{% block content %}
    <div class="blur-overlay" id="blur-overlay"></div>
    <div id="loader" class="loader" style="display: none;"></div>

    <div class="container">
        <div class="upload-container my-4">
<!--            <form action="{{ url_for('bg_remove.process') }}" method="POST" enctype="multipart/form-data">-->
            <div class="row">
            <div class="col-12">
                <label for="imageInput" class="form-label"><h2>Upload Image</h2></label>
            </div>
            <div class="col-12 col-md-9">
                <input class="form-control form-control-lg" id="imageInput" type="file" name="image" accept="image/*">
            </div>
            <div class="col-12 col-md-3 d-flex justify-content-between align-items-center mt-2">
                <div class="btn-container">
                    <button id="submitButton" class="btn btn-primary">Submit</button>
                    <button id="clearButton" class="btn btn-outline-danger">Clear</button>
                </div>
            </div>
        </div>
<!--            </form>-->
        </div>

        <div class="preview-container">
            <div class="image-wrapper">
                <img id="imagePreview" class="image-preview" />
                <a id="download-button" href="#" download="image.jpg">Download</a>
            </div>
        </div>

         <div class="sample-images-container">
            <h2>Select Sample Image</h2>
            <div class="row" id="sampleImages">
                {% for image in sample_images %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center mb-3">
                        <img src="{{ url_for('static', filename=image) }}" class="image-preview sample-image" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

<script src="{{ url_for('static', filename='js/bg_remover.js') }}"></script>
<script src="{{ url_for('static', filename='js/loader.js') }}"></script>
{% endblock %}

