/* General Body Styles */
body {
    background-color: #f8f9fa;
    position: relative; /* Ensure the loader overlay is positioned correctly */

}
.btn-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }
        .btn-container .btn {
            flex: 1;
        }
/* Container Styles */
.upload-container, .preview-container, .sample-images-container {
    max-width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title Styles */
.upload-container h2, .sample-images-container h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

/* Image Preview Styles */
.image-preview {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    transition: filter 0.3s ease; /* Smooth transition for the blur effect */
}

/* Preview Container Hidden by Default */
.preview-container {
    display: none; /* Hide preview container initially */
}

/* Download Button Styles */
#download-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    z-index: 10; /* Ensure it appears above the image */
    display: none; /* Hide the download button by default */
}

/* Image Wrapper Styles */
.image-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Ensure the blur effect does not overflow */
}

/* Hover effect: apply blur to the image and show the button */
.image-wrapper:hover .image-preview {
    filter: blur(5px); /* Adjust the blur intensity as needed */
}

.image-wrapper:hover #download-button {
    display: block; /* Show the download button on hover */
}


/*for sample images*/
.sample-images-container {
    padding: 20px;
}

.sample-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.sample-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 576px) {
    .image-preview {
        width: 100%;
        height: auto;
    }
}
